<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/hiki2.png" class="img-fluid" id="perfilFoto" alt="foto de perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sánchez Trujillo Rocio Tamara</p>
        <p>Full Stack Developer Jr</p>
    </div >
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Como estudiante de la carrera de la Universidad Nacional de La Plata en licenciatura en sistemas estoy perfecccionandome en distintos cursos, tratando de incorporar cada vez más conceptos y prácticas acerca del área de informática.</p>
            <p>Soy una persona que si se propone algo trata de dar lo mejor para lograrlo, aprendiendo de los errores día a día.</p>
        </span>
    </div>
</div>
