.row{
    padding:25px;
}
div{
    background:cadetblue;
    text-align: center; 
}
@media(min-width:576px){
    #perfilFoto{
        position: absolute;
        width:16%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top:480px;
    }
}
@media(max-width:575px){
    #perfilFoto{
        position: absolute;
        width:30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top:570px;
    }
}
#nombre{
    font-weight:bold;
    margin-top:35%;
}
