.row{
    padding: 20 px;
    background-color: cadetblue;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display:inline-block;
    text-align: justify;
}
.imagen{
    box-shadow: 10px 10px 30px pink;
}