<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
          <li> <h1>Nivel primario</h1> - 
          <h3>(years)</h3></li>
          <p>
             TRABAJO DE...
          </p>
        </ul>
        <ul>
            <li> <h1>Nivel secundario</h1> - 
            <h3>(years)</h3></li>
            <p>
              TRABAJO DE....
            </p>
          </ul>
          <ul>
            <li> <h1>Nivel terciario</h1> - 
            <h3>(years)</h3></li>
            <p>
              Trabajo de...
            </p>
          </ul>
          <ul>
            <li> <h1>Nivel universitario</h1> - 
            <h3>(years)</h3></li>
            <p>
              Trabajo de...
            </p>
          </ul>
    </div>

</div>
