<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoArgProg.png" id="argProg" alt="logo Argentina Programa">
        </div>
        <div class="redesS">
            <div>
                <a href=""><img src="../../../assets/instalogo.webp" id="instagram"></a>
                <a href="" ><img src="../../../assets/logoFace.webp" id="facebook"></a>
                <a href=""><img src="../../../assets/logoGit.webp" id="github"></a>
                <button type="button" class="btn btn-outline-light"(click)="login()">INGRESO</button>
            </div>
        </div>
    </div>
</div>

