<div class="row">
    <h1>Hards & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2.5"
        [outerStrokeColor]="'pink'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="540"
        [lazy]="true"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="80"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../assets/css.png'"
          [showImage]="true"
          [imageHeight]="75"
          [imageWidth]="75"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2.5"
          [outerStrokeColor]="'pink'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="540"
          [lazy]="true"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="50"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../assets/js.png'"
          [showImage]="true"
          [imageHeight]="75"
          [imageWidth]="75"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2.5"
          [outerStrokeColor]="'pink'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="540"
          [lazy]="true"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="50"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../assets/logoGit.webp'"
          [showImage]="true"
          [imageHeight]="75"
          [imageWidth]="75"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2.5"
          [outerStrokeColor]="'pink'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="540"
          [lazy]="true"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="100"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../assets/team.png'"
          [showImage]="true"
          [imageHeight]="75"
          [imageWidth]="75"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2.5"
          [outerStrokeColor]="'pink'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="540"
          [lazy]="true"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="70"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../assets/english.png'"
          [showImage]="true"
          [imageHeight]="75"
          [imageWidth]="75"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2.5"
          [outerStrokeColor]="'pink'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="540"
          [lazy]="true"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="35"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../assets/japan.png'"
          [showImage]="true"
          [imageHeight]="75"
          [imageWidth]="75"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2.5"
          [outerStrokeColor]="'pink'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="540"
          [lazy]="true"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="30"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../assets/ciberseguridad.png'"
          [showImage]="true"
          [imageHeight]="75"
          [imageWidth]="75"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2.5"
          [outerStrokeColor]="'pink'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="540"
          [lazy]="true"
        ></circle-progress>
      </div>
</div>
